@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
@inject SignInManager<IdentityUser> signinManager
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.google.com/specimen/Source+Sans+Pro" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collpase" data-target="#bs-example-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (signinManager.IsSignedIn(User)){<li><a asp-controller="Booking" asp-action="Manage">Manage Bookings</a></li>}
                    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    @if (signinManager.IsSignedIn(User) && User.IsInRole("Administrator")) {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                              Admin options
                            </a>
                            <ul class="dropdown-menu">
                              <li><a asp-controller="Admin" asp-action="UserManagement">Manage users</a></li>
                              <li><a asp-controller="Admin" asp-action="MovieManagement">Manage movies</a></li>
                              <li><a asp-controller="Admin" asp-action="ScreeningManagement">Manage screenings</a></li>
                              <li><a asp-controller="Admin" asp-action="TheatreManagement">Manage theatres</a></li>
                            </ul>
                          </li>
                    }
                    <partial name="_LoginPartial"/>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    The small cinema
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- if we dont have this, there will be an exception stating we need scripts from the Identity side -->
    @RenderSection("Scripts", required:false)
</body>
</html>
