@model Screening

<div class="col-sm-5 col-lg-5 col-md-5">
    <div class="thumbnail">
        <img src="@Model.Movie.ImageUrl" alt=""/>
        <div class="caption">
            <h2>
                <a asp-controller="Movie" asp-action="Details" asp-route-id="@Model.ScreeningId">@Model.Movie.Title</a>
            </h2>
            <h4>@Model.Movie.Genre.GenreName</h4>
        </div>
    </div>
</div>