@model HomeViewModel

<h2>Now showing</h2>

@foreach(var date in Model.Dates)
{
    <div class="row border-bottom">
        <h3>@date.ToShortDateString()</h3>
        @foreach(var screening in Model.Screenings.Where(s => s.ScreeningDateTime.Date == date))
        {
            <partial name="_MovieCard" model="screening"/>
        }
    </div>
}
    
