@model ManageBookingsViewModel

<h2>Manage Bookings</h2>

@if(!Model.orders.Any())
{
    <tr><td colspan="3" class="text-center">No orders</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="Manage Bookings">
        <tr>
            <th>Order ID</th>
            <th>Order Details</th>
            <th></th>
        </tr>
        @foreach(Order order in Model.orders)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>
                    <div>Order total: @order.OrderTotal.ToString("C") </div>
                    <div>Date ordered: @order.OrderPlaced.ToShortDateString()</div>
                
                </td>
                <td>
                    <form asp-action="DeleteBookingByOrderId" asp-route-id="@order.OrderId" method="get">
                        <Button type="submit"
                        onclick="return confirm('Are you sure you want to remove this order?');"
                        class="btn btn-sm btn-danger">
                            Delete
                        </Button>
                    </form>
                </td>
            </tr>
        }
    </table>
}