@model EditTheatreViewModel

<h2>Add Theatre</h2>
<form asp-controller="Admin" asp-action="AddTheatre" method="post" class="form-horizontal" role="form">
    <h4>Add theatre</h4>
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Theatre.Name" class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
            <input asp-for="Theatre.Name" class="form-control" />
            <span asp-validation-for="Theatre.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Theatre.Description" class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            <textarea rows="4" asp-for="Theatre.Description" class="form-control">@Model.Theatre.Description</textarea>
            <span asp-validation-for="Theatre.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Theatre.SeatingConfigId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Theatre.SeatingConfigId" class="form-select">
                @foreach(var seatingConfig in Model.SeatingConfigs)
                {
                    <option value="@seatingConfig.SeatingConfigId">@seatingConfig.NumberOfSeats</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Add Theatre"/>
            <a asp-action="TheatreManagement" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>